.w3-inmobshop, .w3-hover-inmobshop:hover {
    color: #fff !important;
    background-color: #000066 !important;
}
.w3-text-inmobshop, .w3-hover-text-inmobshop:hover {
    color: #000066 !important
}
.w3-border-inmobshop, .w3-hover-border-inmobshop:hover {
    border-color: #000066 !important
}
body {
	background-color: #eee;
}
header {
    position: relative;
    top: -20px;
    left: 0;
}
footer {
    position: relative;
    bottom: 0;
    left: 0;
}
ul.breadcrumb {
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #eee;
}
ul.breadcrumb li {
padding: 0;
  color: #000066;
  display: inline;
  font-size: 15px;
  font-weight: bold;
}
ul.breadcrumb li a {
  font-weight: normal;
  text-decoration: none;
}
ul.breadcrumb a::after {
  padding: 20px;
  color: #000066;
  content: ">";
}
#enlace p a {
	text-decoration: none;
}
.misFotos {
	display: none;
}
textarea {
    resize: none;
}
